body {
  font-family: 'Open Sans', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.brand_section .brand_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.brand_section .brand_container .box {
  position: relative;
  text-align: center;
  background-color: #e4e5e9;
  padding: 75px 35px 10px 35px;
  margin: 30px 10px 0 10px;
  min-width: 225px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.24670%;
          flex: 0 0 23.24670%;
}

.brand_section .brand_container .box h6 {
  color: #252525;
}

.brand_section .brand_container .box h6.price {
  color: #E63946;
}

.brand_section .brand_container .box .new {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 35px;
  background-color: #252525;
  color: #ffffff;
}

.brand_section .brand_container .box .new h6 {
  margin: 0;
}

.brand_section .brand_container .box .img-box img {
  width: 100%;
}

.brand_section .brand_container .box:hover {
  background-color: #E63946;
}

.brand_section .brand_container .box:hover h6.price {
  color: #252525;
}

.brand_section .brand-btn {
  display: inline-block;
  padding: 6px 30px;
  background-color: #252525;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 15px;
}

.brand_section .brand-btn:hover {
  background-color: transparent;
  border-color: #252525;
  color: #252525;
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translate(7px, 10px);
          transform: rotate(45deg) translate(7px, 10px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translate(7px, -10px);
          transform: rotate(-45deg) translate(7px, -10px);
}
